* {
	font-family: Arial;
}
body {
	background-image: url("https://wallpapertag.com/wallpaper/full/5/a/e/409696-stars-in-space-background-2560x1600-for-pc.jpg");
}
header {
	border: solid white 2px;
	color: white;
	padding: 20px;
	margin-bottom: 10px;
	text-align: center;
}
a {
	text-decoration: none;
	color: white;
}
.contact {
	border: solid white 1px;
	padding: 2px 8px;
	margin: 0;
}
.contact:active {
	padding: 5px 11px;
}
.contact:hover {
	background-color: whitesmoke;
	color: #252222;
}



/* Containers */

.container {
	display: grid;
	height: 1000px;
	width: 118rem;
	grid-template: repeat(25, 1fr) / repeat(10, 1fr);
	border: solid white 2px;
}
.A {
	border: solid 2px white;
	color: white;
	grid-area: 2 / 2 / span 10 / span 3;
	background:url(https://2.bp.blogspot.com/-BkqKrk2G6kU/TosqwN7bEZI/AAAAAAAANmg/WN0fmBFoCeM/s1600/Mooie-planeten-achtergronden-hd-planeet-wallpapers-afbeelding-plaatje-36.jpg);
	background-position: center;
	background-size: 560px 400px;
	text-align: center;
}
.ontdek {
	border: solid white 1px;
	padding: 3px;
}
.ontdek:hover {
	background-color: whitesmoke;
	color: #252222;
}

.B {
	grid-area: 2 / 7 / span 10 / span 3;
	border: solid 2px white;
	color: white;
	background:url(https://images7.alphacoders.com/864/864929.jpg); 
	background-position: center;
	background-size: 560px 400px;
	text-align: center;
}

@media only screen and (min-width: 320px) and (max-width: 1000px), (orientation: portrait) {
	.container {display: inline;}
	}

