* {
	font-family: 'Ubuntu', sans-serif;
}
body {
	background-image: url("https://wallpapertag.com/wallpaper/full/5/a/e/409696-stars-in-space-background-2560x1600-for-pc.jpg");
}
header {
	border: solid white 2px;
	color: white;
	padding: 20px;
	margin-bottom: 10px;
	text-align: center;
}
a {
	text-decoration: none;
	color: white;
}
.contact {
	border: solid white 1px;
	padding: 2px 8px;
	margin: 0;
}
.contact:active {
	padding: 5px 11px;
}
.contact:hover {
	background-color: whitesmoke;
	color: #252222;
}
footer {
	border: solid white 2px;
	color: white;
	text-align: center;
	padding: 30px;
	margin-top: 3px;
}


/* Containers */

.container {
	display: inline-grid;
	height: 1000px;
	width: 118rem;
	grid-template: repeat(25, 2.5em) / repeat(10, 11em);
	border-right: solid white 2px;
	border-left: solid white 2px;
	float: center;
}
.A {
	border: solid 2px white;
	color: white;
	grid-area: 2 / 2 / span 10 / span 3;
	background:url(https://wallpaper-house.com/data/out/5/wallpaper2you_77248.jpg);
	background-position: center;
	background-size: 35em 25em;
	text-align: center;
	float: center;
}
.ontdek {
	border: solid white 1px;
	padding: 3px;
}
.ontdek:hover {
	background-color: whitesmoke;
	color: #252222;
	border: solid black 1px;
}
.ontdek:active {
	padding: 6px;
}

.B {
	grid-area: 2 / 7 / span 10 / span 3;
	border: solid 2px white;
	color: white;
	background:url(https://images7.alphacoders.com/864/864929.jpg); 
	background-position: center;
	background-size: 40em 35em;
	text-align: center;
	float: center
}

/* Responsive Design */

@media only screen and (min-width: 320px) and (max-width: 1000px), {
	.container {
		display: block;
	}
	.A {
		width: 30rem;
		margin-left: 10rem;
	}
	.B {
		width: 30rem;
		margin-left: 10rem;
	}
	}

@media only screen and (min-width: 1000px) and (max-width: 1750px), {
	.container {
		display: inline;
	}
}